<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Website is updating</title>
    </head>
    <body>
       {{> header }}
        <p>We are updating the website for you</p>
        
       {{> footer }}

    </body>
</html>